:global {
  .ant-breadcrumb-separator {
    color: #c0c4cc !important;
    font-weight: 700 !important
  }
  // 第一个.ant-breadcrumb-link设置colorrgba(0, 0, 0, 0.88)，font-weight: 700;
  .ant-breadcrumb li:first-child {
    color: rgba(0, 0, 0, 0.88) !important;
    font-weight: 700 !important 
  }
  
}
.navBarContent {
  height: 32px;
  line-height: 32px;
  margin: 8px 16px;

  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;

  user-select: none;

  .navBar {
    margin-left: 24px;
  }
  
  .ant-breadcrumb {
    font-size: 14px;
    
    .ant-breadcrumb-separator {
      margin: 0 8px;
      color: rgba(0, 0, 0, 0.45);
    }
    
    .ant-breadcrumb-link {
      color: rgba(0, 0, 0, 0.45);
      
      &:last-child {
        color: rgba(0, 0, 0, 0.88);
        font-weight: 500;
      }
    }
  }
}