.headerBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 48px;

  border-bottom: 1px solid #ebeef0 !important;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .leftBox {
    display: flex;
    align-items: center;
    margin-left: 20px;

    .mainLogoName {
      margin-left: 10px;
      height: 25px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 700;
      font-size: 14px;
      color: #19272e;
      line-height: 25px;
      text-align: left;
      font-style: normal;
    }
    .subLogoName {
      height: 25px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 500;
      font-size: 14px;
      color: #19272e;
      line-height: 25px;
      text-align: left;
      font-style: normal;
    }
  }
  .rightBox {
    display: flex;
    align-items: center; 
    margin-right: 16px;
  }
}