.Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
}

.SideBar {
  height: calc(100vh - 48px);
  width: 200px;
  margin-top: 48px;
  position: relative;

  overflow: hidden;
  background-color: #b3bcc0;
}